<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Temp\oidc_customLogin.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
 
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Okta config -->
    <add key="okta.ApiUrl" value="https://aclarke-neto.oktapreview.com" />
    <add key="okta.ApiToken" value="008W9Qxm_ddGXLZTjOhP8WUKOfmBeyLIaoVF9-PCTu" />   
    <!--use OIDC_Native_SPINT_App for implicit workflow-->
    <add key="oidc.spintnative.clientId" value="5JO5Je3kwwUJ29ExNowh" />
    <add key="oidc.spintnative.clientSecret" value="spkTbZj5zzswytxTbLZrJUqhirE7hAOeA0IzLw5v" />
    <add key="oidc.spintnative.RedirectUri" value="https://aclarke.ngrok.io/Oidc/Endpoint_Native" />
    <!--use OIDC_Web_SPINT_App authorization code workflow-->
    <add key="oidc.spintweb.clientId" value="YTtE07g4rXFQVtldN0IZ" />
    <add key="oidc.spintweb.clientSecret" value="HmKNyJjoIaoAZIz1owp1gvGSK4Sw6XkDvo9aHPvM" />
    <add key="oidc.spintweb.RedirectUri" value="https://aclarke.ngrok.io/Oidc/Endpoint_Web" />
    <!--OAUTH_ClientCred_App client credendial workflow-->
    <add key="oidc.clientcredservice.clientId" value="0oabv6nl36CcBngjS0h7" />
    <add key="oidc.clientcredservice.clientSecret" value="a9iKauMDqUasNCxBnm4CqaGTCCilRaQbXDLMn47d" />
    <!-- Custom Authorization Server -->
    <add key="oidc.customAuthServer.RedirectUri" value="https://aclarke.ngrok.io/Oidc/Endpoint_Service" />
    <add key="oidc.AuthServer" value="https://aclarke-neto.oktapreview.com/oauth2/aus90h4gyj2Hc8QOy0h7" />
    <add key="oidc.Issuer" value="https://aclarke-neto.oktapreview.com/oauth2/aus90h4gyj2Hc8QOy0h7"/>
    <add key="oidc.scopes" value="openid profile email address phone groups offline_access"/>
    <!-- Default Authorization Server -->
    <!--<add key="oidc.AuthServer" value="https://aclarke-neto.oktapreview.com/oauth2" />
    <add key="oidc.Issuer" value="https://aclarke-neto.oktapreview.com"/>
    <add key="oidc.scopes" value="openid profile email address phone groups offline_access"/>-->

 
    <!--NOTE: choosing default and accessToken is not a supported configuration-->
    <!--choices are: custom or default--> 
    <add key="oidc.chooseAuthServer" value="custom"/>
    <!--choices are: idToken or accessToken-->
    <add key="oidc.tokenType" value="accessToken"/>
    
    <!-- Web Api A destination-->
    <add key="oidc.webApiAprotected" value="http://localhost:44333/api/Values/protected" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
